body {
    background-color: #313338;
    color: white;
    font-size: 25px;
    overflow: hidden;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    margin: 0;
    padding: 5px;
    padding-bottom: 20px;
    list-style-type: none;
}

.addEntry {
    background-color: #28292d;
    padding: 3px;
    padding-bottom: 6px;
    width: 110px;
    border-radius: 15%;
}

a {
    color: white;
}

td,th  {
    padding: 2px 8px;
    text-align: center;
}

table {
    background-color: #28292d;
    border-bottom: #28292d00;
    border-top: #28292d00;
    border-width: 4px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #222327;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }