body {
    background-color: #313338;
    color: white;
    font-size: 25px;
    overflow: hidden;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content {
    margin: 0;
    padding: 5px;
    padding-bottom: 20px;
    list-style-type: none;
}

.moveToPage {
    background-color: #28292d;
    padding: 3px;
    padding-bottom: 6px;
    width: 110px;
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a#location {
    text-decoration: underline;
}

td,
th {
    padding: 2px 8px;
    text-align: center;
}

.descLimit {
    max-width: 400px;
    overflow: hidden;
}

table {
    background-color: #28292d;
    border-bottom: #28292d00;
    border-top: #28292d00;
    border-width: 4px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #222327;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#toLoginPage {
    width: 100px;
}

#backFromInsert {
    width: 200px;
}

#backFromUpdate {
    width: 200px;
}

#backFromLogin {
    width: 200px;
}

#insertForm {
    padding: 10px;
    background-color: #28292d;
    border-radius: 10%;
    align-items: center;
    gap: 5px;
}

#editForm {
    padding: 10px;
    background-color: #28292d;
    border-radius: 10%;
    align-items: center;
    gap: 5px;
}

#loginForm {
    padding: 10px;
    background-color: #28292d;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 120px;
}

#desc {
    width: 300px;
}

textarea {
    font-family: auto;
}

#finished {
    width: 50px;
}

#location {
    width: 300px;
}

.flex-center {
    display: flex;
    justify-content: center;
}


#username {
 width: 150px;
}

#password {
    width: 150px;
}

#loginSubmit {
    width: 158px;
}

#deleteConfirm {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #1d1e20;
    border-radius: 20px;
    padding-top: 10px;
    left: 670px;
    top: 24000px;
    z-index: 99;
}

#deleteConfirmHeader {
    text-align: center;
}

#deleteConfirmNo {
    color: red;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    cursor: pointer;
}

#deleteConfirmYes {
    color: green;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

i {
    font-size: 25px;
    color: white;
}

#dragDiv {
    position: absolute;
    z-index: 9;
    text-align: center;
}