body {
    --backg: linear-gradient(45deg, rgba(14,0,0,1) 0%, rgba(94,25,13,1) 25%, rgba(253,55,29,1) 50%, rgba(253,140,47,1) 76%, rgba(226,209,19,1) 100%);
    --font: #fff;
    --nav: #d52f1964;
    --navbar: linear-gradient(45deg, rgba(68,3,3,1) 0%, rgba(111,31,17,1) 25%, rgba(201,45,23,1) 50%, rgba(204,113,37,1) 76%, rgba(164,152,11,1) 100%);
    --nav-hover: #27066f00;
    --navbar-hover: #ef8f586f;
}
