#layout {
    display: flex;
}

#batOverlapTop {
    position: absolute;
    z-index: 2;
    background-color: white;
    height: 20px;
    width: 800px;
    padding: 0;
    margin: 0;
}

#batOverlapBottom {
    position: absolute;
    z-index: 2;
    background-color: white;
    height: 20px;
    width: 800px;
    top: 628px;
    padding: 0;
    margin: 0;
}


#container {
    width: 800px;
    height: 600px;
    top: 20px;
    position: relative;
    background-color: lightgreen;
}

#flex {
    display: flex;
    position: relative;
    width: 300px;
    top: 20px;
    align-items: center;
    flex-direction: column;
}

#buttons {
    position: relative;
    z-index: 2;
}

#start {
    color: white;
    background-color: limegreen;
    border: none;
}

#stop {
    color: white;
    background-color: red;
    border: none;
}

#counter {
    display: flex;
    position: relative;
    height: 150px;
    font-size: 150px;
}

#moveDiv {
    width: 20px;
    height: 20px;
    top: 280px;
    left: 390px;
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    transition: (.05/15)s;
}

#batLeft {
    height: 100px;
    width: 15px;
    top: 240px;
    position: absolute;
    background-color: blue;
    transition: .05s;
}

#batRight {
    height: 100px;
    width: 15px;
    left: 785px;
    top: 240px;
    position: absolute;
    background-color: blue;
    transition: .05s;
}